@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	border: none;
}

ul li {
	list-style: none;
}


/*导航框架*/

.head-phone {
	width: 100%;
	position: relative;
	height: auto;
	padding-top: 0px;
	display: none;
}

.nav-phone-button {
	float: right;
	width: 40px;
	height: 40px;
	position: relative;
	position: absolute;
	top: 12px;
	right: 5px;
	z-index: 10;
	cursor: pointer;
}


/*手机菜单按钮*/

.pbutton-inner {
	display: block;
	top: 50%;
	margin-top: -2px;
}

.pbutton-inner,
.pbutton-inner::before,
.pbutton-inner::after {
	width: 30px;
	height: 4px;
	background-color: #00a971;
	right: 8px;
	border-radius: 4px;
	position: absolute;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	transition-duration: 0.15s;
	transition-timing-function: ease;
}

.pbutton-inner::before,
.pbutton-inner::after {
	content: "";
	display: block;
}

.pbutton-inner::before {
	top: -10px;
}

.pbutton-inner::after {
	bottom: -10px;
}


/* Emphatic Reverse*/

.pbutton-emphatic-r {
	overflow: hidden;
}

.pbutton-emphatic-r .pbutton-inner {
	transition: background-color 0.2s 0.25s ease-in;
}

.pbutton-emphatic-r .pbutton-inner::before {
	left: 0;
	transition: top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in;
	transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, left 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.pbutton-emphatic-r .pbutton-inner::after {
	top: 10px;
	right: 0;
	transition: top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
	transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in;
	transition: transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335), top 0.05s 0.2s linear, right 0.2s 0.25s ease-in, -webkit-transform 0.2s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.pbutton-emphatic-r.is-active .pbutton-inner {
	transition-delay: 0s;
	transition-timing-function: ease-out;
	background-color: transparent;
}

.pbutton-emphatic-r.is-active .pbutton-inner::before {
	left: -80px;
	top: 80px;
	-webkit-transform: translate3d(80px, -80px, 0) rotate(-45deg);
	transform: translate3d(80px, -80px, 0) rotate(-45deg);
	transition: left 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: left 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.pbutton-emphatic-r.is-active .pbutton-inner::after {
	right: -80px;
	top: 80px;
	-webkit-transform: translate3d(-80px, -80px, 0) rotate(45deg);
	transform: translate3d(-80px, -80px, 0) rotate(45deg);
	transition: right 0.2s ease-out, top 0.05s 0.2s linear, -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
	transition: right 0.2s ease-out, top 0.05s 0.2s linear, transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.2s 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/*手机菜单导航*/

.nav-phone {
	position: absolute;
	left: 0;
	top: 62px;
	right: 0;
	background: rgba(255, 255, 255, 0.999);
	overflow: hidden;
	display: none;
	border-top: 0 !important;
	z-index: 9;
	width: 100%;
	box-shadow: #eeeeee 0px 1px 2px;
}

.sidebar_active {
	color: #FFFFFF;
	background-color: #003781;
}

.menup1-ul .menup1:hover,
.menup2-ul .menup2:hover,
.menup1-ul li.open .menup1,
.menup2-ul .hover,
.menup3-ul li a:hover {
	background-color: #02b87b91;
	color: #ffffff;
}

.menup1-ul .menup1 a {
	display: inline-block;
	line-height: 37px;
	width: 100%;
}

.menup1-ul .menup1:hover a,
.menup1-ul .menup1:hover i,
.menup1-ul li.open .menup1 a,
.menup2-ul .menup2:hover a,
.menup2-ul .menup2:hover i {
	color: #ffffff;
}

.menup1-ul {
	margin: 0px;
	width: 100%;
	font-size: 14px;
	line-height: 30px;
}

.menup1-ul .menup1 {
	height: auto!important;
	display: block;
	position: relative;
	cursor: pointer;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	padding: 2px 20px 2px 20px;
	border-top: 1px solid #dddddd;
}

.menup1-ul .menup1 i,
.menup1-ul .menup2 i {
	line-height: 34px;
	color: #;
	width: 40px;
	right: 0px;
	text-align: center;
	position: absolute;
	font-size: 18px;
}

.menup1-ul li i.fa-chevron-right {
	left: auto;
	right: 12px;
	font-size: 16px;
}

.menup1-ul li.open .menup1 i {
	color: #fff;
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg)
}

.menup1-ul li.open i.fa-chevron-right {
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
}

.menup2-ul li .open1 {
	background: #bce2f6;
}

.menup2-ul li .open1 a {
	color: #fff;
}

.menup2-ul li .open1 i {
	color: #fff;
}

.menup2-ul li .open1 i {
	-ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-o-transform: rotate(90deg)
}

.menup2-ul {
	font-size: 14px;
	display: none;
	padding: 0px;
	background: #f3f3f3;
}

.menup2-ul li {
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.3)
}

.menup2-ul li a {
	display: inline-block;
	width: 100%;
	padding-left: 5px;
	-webkit-transition: all 0.25s ease;
	-ms-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	color: #;
}

.menup2 {
	padding: 2px 20px 2px 30px;
	border-bottom: 1px solid #cccccc;
	border-right: none;
	border-left: none;
	overflow: hidden;
}

.menup2 i {
	float: right;
	line-height: 20px;
	-webkit-transition: 0.5s all ease;
	-webkit-transform-origin: center center;
	-moz-transition: 0.5s all ease;
	-moz-transform-origin: center center;
	-ms-transition: 0.5s all ease;
	-ms-transform-origin: center center;
	transition: 0.5s all ease;
	transform-origin: center center;
	-o-transition: 0.5s all ease;
	-o-transform-origin: center center;
}

.menup3-ul {
	width: 100%;
	display: none
}

.menup3-ul li {
	cursor: pointer;
	background-color: rgba(245, 245, 245, 0.9)
}

.menup3-ul li a {
	display: block;
	color: #18b8d8;
	border-bottom: 1px solid #cccccc;
	font-size: 13px;
	padding-left: 60px;
	height: 35px;
	line-height: 35px;
}

.menup3-ul li:last-child a {
	border-bottom: none;
}