@charset "utf-8";
#nav-pc .menu>li.navbj {
	background: rgba(182, 12, 12, 0.7);
}

#nav-pc .menu>li.navbj a {
	color: #fff;
}

.column {
	display: none;
}

.nav_pc>ul>li:hover .column {
	display: block;
}


/*当前位置*/

.path {
	height: 45px;
	line-height: 45px;
}

.path span {
	font-family: "宋体";
	margin: 0px 5px;
}


/*分页*/

.paging {
	text-align: center;
}

.paging span {
	padding: 5px 10px;
	margin: 0px 3px;
	background: #00a971;
	color: #ffffff;
}

.paging a {
	display: inline-block;
	padding: 5px 10px;
	margin: 0px 3px;
	background: #e1e1e1;
}

.paging a:hover {
	background: #00a971;
	color: #ffffff;
}

.nav {
	position: inherit;
	display: table;
	width: 1200px;
	margin: auto;
}

.news1 {
	padding: 0px 0px 20px 0px;
}

.news1-l {
	width: 30%;
	float: left;
	padding: 20px 30px 20px 20px;
	background: #ffffff;
}

.news1-l h2,
.yw h2 {
	border-bottom: 1px solid #e1e1e1;
}

.news1-l h2 a,
.yw h2 a {
	display: inline-block;
	padding: 7px 20px;
	font-size: 16px;
	background: #43aea6;
	color: #ffffff;
}

.news1-l h2 a.link,
.yw h2 a.link {
	font-size: 13px;
	background: none;
	padding: 0px;
	font-family: '宋体';
	float: right;
	color: #333;
	margin-top: 10px;
}

.news1-l h2 a.link:hover,
.yw h2 a.link:hover {
	color: #43aea6;
}

.news1-l li {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #e1e1e1;
}

.news1-l li a {
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: relative;
	padding-right: 60px;
}

.news1-l li a span {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 13px;
	color: #888888;
}

.news1-r {
	width: 70%;
	float: left;
}

#imgContainer {
	width: 840px;
	height: 356px;
	overflow: hidden;
	position: relative;
}

#imgContainer img {
	display: none;
}

#imgMask {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#imgMask .range {
	float: left;
	position: relative;
}

#imgMask .range div {
	position: absolute;
	left: 0;
	top: 0;
}

#imgContainer .pageBar {
	position: absolute;
	z-index: 99;
	right: 10px;
	bottom: 10px;
}

#imgContainer .pictureBar {
	z-index: 99;
}

.pageBar img,
.pictureBar img {
	display: block !important;
	float: left;
	border: 1px solid #666;
	margin: 0px 2px 2px 2px;
	filter: alpha(opacity=50);
	-moz-opacity: .5;
	opacity: .5;
}

.pageBar img.current,
.pictureBar img.current {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	display: block !important;
}

.pageBar a {
	display: block;
	background: #000;
	border: 1px solid #666;
	color: #fff;
	float: left;
	width: 16px;
	font-size: 12px;
	margin: 2px;
	text-align: center;
	line-height: 16px;
	font-family: Arial;
	cursor: pointer;
	text-decoration: none;
}

.pageBar a:hover,
.pageBar a.current {
	background: #43aea6;
	color: #fff;
}

.news2-l {
	width: 68%;
	float: left;
	background: #ffffff;
	padding: 20px;
}

.news2-1 {
	width: 100%;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	justify-content: space-between;
	-wewblit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
}

.news2-n {
	width: 48%;
}

.news2-n h2 {
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 5px;
}

.news2-n h2 a {
	display: inline-block;
	padding: 7px 20px;
	font-size: 16px;
	background: #43aea6;
	color: #ffffff;
}

.news2-n h2 a.link {
	font-size: 13px;
	background: none;
	padding: 0px;
	font-family: '宋体';
	float: right;
	color: #333;
	margin-top: 10px;
}

.news2-n h2 a.link:hover {
	color: #43aea6;
}

.news2-n li {
	height: 35px;
	line-height: 35px;
	border-bottom: 1px dashed #e1e1e1;
}

.news2-n li a {
	display: inline-block;
	width: 100%;
	height: 35px;
	line-height: 35px;
	position: relative;
	padding-right: 60px;
}

.news2-n li a span {
	position: absolute;
	top: 0px;
	right: 10px;
	font-size: 13px;
	color: #888888;
}

.fw-tab,
.fw1-tab,
.fw2-tab {
	border-bottom: 1px solid #e1e1e1;
}

.fw-tab a,
.fw1-tab a,
.fw2-tab a {
	font-size: 17px;
	color: #43aea6;
	display: inline-block;
	font-weight: bold;
	padding: 9px 25px;
	margin-right: 10px;
}

.fw-tab a.on,
.fw1-tab a.on,
.fw2-tab a.on {
	color: #ffffff;
	background: #43aea6;
}

.fw-list,
.fw1-list,
.fw2-list {
	padding: 15px 0px;
	overflow: hidden;
}

.fw-list li,
.fw1-list li {
	width: 48%;
	float: left;
	margin-right: 2%;
}

.fw-list li a,
.fw1-list li a,
.fw2-list li a {
	border-bottom: 1px dotted #d3d3d3;
	display: inline-block;
	width: 100%;
	height: auto;
	padding: 9px 55px 9px 0px;
	position: relative;
}

.fw-list li a p,
.fw1-list li a p,
.fw2-list li a p {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.fw-list li a span,
.fw1-list li a span,
.fw2-list li a span {
	position: absolute;
	top: 12px;
	right: 5px;
	font-size: 12px;
	color: #888;
}

.news2-r {
	width: 30%;
	margin-left: 2%;
	float: left;
	padding: 20px;
	overflow: hidden;
	background: #ffffff;
}

.news2-r .news1-l {
	width: 100%;
	padding: 0px;
}

.yw h2 {
	margin-bottom: 15px;
}

.yw-l {
	width: 40%;
	float: left;
}

.yw-r {
	width: 60%;
	float: left;
	padding-left: 20px;
}

.yw-r a {
	display: inline-block;
	width: 50%;
	float: left;
	padding: 7px 0px 7px 25px;
	position: relative;
}

.yw-r a:before {
	position: absolute;
	top: -28px;
	left: 5px;
	content: '.';
	font-size: 45px;
	width: 5px;
	height: 5px;
}

.page {
	overflow: hidden;
}

.page-l {
	width: 20%;
	float: left;
	margin-right: 2%;
}

.page-l h2 {
	font-weight: 500;
	height: 70px;
	line-height: 70px;
	background: #43aea6;
	padding: 0px 20px;
	color: #ffffff;
	font-size: 18px;
	border-radius: 25px 25px 0px 0px;
}

.page-l h2 i {
	font-size: 20px;
}

.page-l1 {
	overflow: hidden;
	border: 1px solid #E1E1E1;
	background: #ffffff;
}

.page-l1 li a {
	font-size: 16px;
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	padding: 0px 30px 0px 20px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}

.page-l1 li a i {
	position: absolute;
	top: 10px;
	right: 15px;
	font-size: 22px;
	color: #43aea6;
}

.page-l1 li a:hover {
	background: #43AEA6;
	color: #ffffff;
}

.page-l1 li a:hover i {
	color: #ffffff;
}

.bylb h3 {
	font-size: 18px;
	font-weight: 500;
	height: 45px;
	line-height: 45px;
	padding: 0px 20px;
	background-image: url(../img/bybtbg.jpg);
	border: 1px solid #e1e1e1;
}

.bylb ul {
	overflow: hidden;
	background: #FFFFFF;
	padding: 15px;
	display: flex;
	-webkit-display: flex;
	-moz-display: flex;
	-o-display: flex;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-o-justify-content: space-between;
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
}

.bylb ul li {
	width: 47%;
	height: 35px;
	margin: 6px 0px;
}

.bylb ul li a {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 35px;
	line-height: 35px;
	background: #EEEEEE;
}

.bylb ul li a:hover {
	background: #43AEA6;
	color: #ffffff;
}

.page-r,
.page1-r {
	width: 78%;
	float: left;
	overflow: hidden;
	background: #ffffff;
	padding: 20px;
}

.page-r h2,
.page1-r h2 {
	font-size: 17px;
	border-bottom: 1px solid #E1E1E1;
	padding: 0px 0px 10px 15px;
	font-weight: 500;
	position: relative;
}

.page-r h2:before,
.page1-r h2:before {
	content: '';
	position: absolute;
	top: 96%;
	left: 0px;
	width: 100px;
	height: 2px;
	background: #43aea6;
}

.page-r li {
	border-bottom: 1px dashed #e1e1e1;
}

.page-r li a {
	display: block;
	height: 45px;
	line-height: 45px;
	padding: 0px 80px 0px 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
}

.page-r li a span {
	position: absolute;
	top: 0px;
	right: 10px;
	color: #888888;
}

.content {
	line-height: 24px;
	padding: 20px 0px;
}

.content img {
	margin: 10px 0px;
}


/*上一页*/

.syy {
	padding-top: 20px;
	font-size: 14px;
}

.syy li {
	width: 100%;
	height: auto;
	float: none;
}

.syy a {
	padding-left: 10px;
	font-size: 14px;
	color: #616161;
}

@media(max-width:1200px) {}

@media(max-width:900px) {}

@media(max-width:640px) {}

@media(max-width:500px) {}